<button class="addwishlist" data-id="{{ $product->id }}">
    <div class="product_fav"> 
        <i class="fa fa-heart"></i>
    </div>
</button>


@if ($product->discount_price == NULL)
													<li class="product_mark product_discount" style="background: green;">New</li>
													@else 
													@php
														$ammount = $product->selling_price - $product->discount_price;
														$discount = $ammount/$product->discount_price*100;
													@endphp
													<li class="product_mark product_discount">{{ intval($discount) }}%</li>
													@endif

                <div class="product_content">
                    @if ($product->discount_price == NULL)
                <span class="text-danger"><b> ${{ $product->selling_price}}</b></span>
                @else 
                <div class="product_price discount">${{ $product->discount_price }}<span>${{ $product->selling_price }}</span></div>
                @endif